# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Custom for Visual Studio
*.cs     diff=csharp
*.sln
*.csproj
*.vbproj
*.fsproj
*.dbproj

# Verify snapshot files
*.verified.txt text eol=lf working-tree-encoding=UTF-8
*.verified.cs  text eol=lf working-tree-encoding=UTF-8

# Don't check for trailing whitespace at end of lines in the doc pages
*.md -whitespace=blank-at-eol
